In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.optimize import minimize

In [2]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [45]:
# Must put thetas as the first arg
def cost_function(thetas, X, y):
    m = X.shape[0]
    h = sigmoid(X.dot(thetas))
    J = -1*(1/m)*(np.log(h).T.dot(y)+np.log(1-h).T.dot(1-y))
# log(0) approached -Inf results in NaN
    if np.isnan(J[0]):
        return(np.inf)
    else:
        return(J[0])

In [4]:
labeled = pd.read_csv("https://storage.googleapis.com/kaggle_datasets/Titanic-Machine-Learning-from-Disaster/train.csv")

In [6]:
labeled = labeled[~labeled['Age'].isna()]

In [7]:
labeled

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
def gradient(thetas, X, y):
    m = y.size
    h = sigmoid(X.dot(thetas.reshape(-1,1)))
    grad =(1/m)*X.T.dot(h-y)
    return(grad.ravel())

In [9]:
train, validation = train_test_split(labeled, test_size=0.3, random_state=123)

In [24]:
X_train = train.loc[:, ["Age", "Fare"]].values
ones = np.ones(X_train.shape[0]).reshape(-1, 1)
X_train = np.concatenate([ones, X_train], axis=1)
y_train = train.loc[:, "Survived"].values.reshape(-1, 1)

In [30]:
initial_thetas = np.zeros(X_train.shape[1])

In [37]:
initial_thetas

array([0., 0., 0.])

In [44]:
cost_function(initial_thetas,X_train,y_train)

array([0.69314718])

In [46]:
res = minimize(cost_function, initial_thetas, args=(X_train, y_train), method=None, jac=gradient, options={'maxiter':400})

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [47]:
res

      fun: 0.6249923100906284
 hess_inv: array([[ 2.57707497e+01, -6.39438923e-01, -9.67852173e-02],
       [-6.39438923e-01,  2.32935569e-02, -1.31976410e-03],
       [-9.67852173e-02, -1.31976410e-03,  4.31442824e-03]])
      jac: array([5.79538929e-08, 1.65741052e-06, 3.06075254e-06])
  message: 'Optimization terminated successfully.'
     nfev: 23
      nit: 14
     njev: 18
   status: 0
  success: True
        x: array([-0.62176132, -0.01014703,  0.01692017])

In [50]:
theta = res.x.reshape(-1,1)

In [55]:
X_valid = validation.loc[:,['Age','Fare']].values

In [56]:
X_valid

array([[ 18.    ,  23.    ],
       [ 60.    ,  26.55  ],
       [ 31.    ,   8.6833],
       [ 15.    ,   7.225 ],
       [ 18.    , 108.9   ],
       [ 40.5   ,   7.75  ],
       [ 22.    ,   7.125 ],
       [ 27.    ,  13.    ],
       [ 58.    ,  29.7   ],
       [ 40.    ,  13.    ],
       [ 26.    ,   7.8542],
       [ 19.    ,   0.    ],
       [ 19.    ,   7.65  ],
       [ 42.    ,  26.    ],
       [ 51.    ,  77.9583],
       [ 31.    ,  10.5   ],
       [ 54.    ,  26.    ],
       [ 32.    ,  56.4958],
       [ 33.    ,  26.    ],
       [ 17.    ,   8.6625],
       [ 32.    ,  26.    ],
       [ 50.    ,  26.    ],
       [ 28.    ,  26.55  ],
       [  0.75  ,  19.2583],
       [ 14.    ,   7.8542],
       [ 35.    ,  21.    ],
       [ 23.    ,   7.8958],
       [  0.83  ,  18.75  ],
       [ 36.    ,  27.75  ],
       [ 20.    ,   8.05  ],
       [ 28.    ,  13.    ],
       [ 34.5   ,   6.4375],
       [ 22.    , 151.55  ],
       [ 20.5   ,   7.25  ],
       [  9.    ,  31.275 ],
       [ 16.    ,  46.9   ],
       [ 32.    ,   7.8542],
       [ 21.    ,   7.7958],
       [ 29.    ,   7.75  ],
       [ 30.    ,  24.    ],
       [ 62.    ,  26.55  ],
       [ 36.    ,   7.4958],
       [ 19.    ,  10.5   ],
       [ 21.    ,  77.2875],
       [ 34.    ,  13.    ],
       [ 20.    ,   8.6625],
       [  1.    ,  39.6875],
       [  5.    ,  27.75  ],
       [ 30.    ,  56.9292],
       [  2.    ,  27.9   ],
       [ 22.    ,   7.7958],
       [  6.    ,  31.275 ],
       [ 29.    ,  27.7208],
       [ 39.    ,  31.275 ],
       [ 19.    ,  30.    ],
       [ 32.    ,  15.85  ],
       [ 33.    ,  27.75  ],
       [ 23.    ,  15.0458],
       [ 19.    ,   7.8958],
       [ 30.    ,   7.2292],
       [ 36.    , 135.6333],
       [ 35.    ,  52.    ],
       [ 22.    ,   7.8958],
       [ 41.    ,   7.125 ],
       [ 29.    ,  21.075 ],
       [ 33.    ,  20.525 ],
       [ 30.    ,   9.5   ],
       [  4.    ,  23.    ],
       [ 70.5   ,   7.75  ],
       [ 32.    ,   7.925 ],
       [ 22.    ,   9.35  ],
       [ 39.    ,  29.125 ],
       [ 28.    ,   7.8958],
       [  4.    ,  27.9   ],
       [ 42.    ,  26.2875],
       [ 71.    ,  34.6542],
       [  9.    ,  27.9   ],
       [ 54.    ,  14.    ],
       [ 19.    ,   8.1583],
       [ 17.    ,   8.6625],
       [ 29.    ,   7.875 ],
       [ 16.    ,   7.75  ],
       [ 30.    ,  93.5   ],
       [ 29.    ,  66.6   ],
       [ 19.    ,  10.5   ],
       [ 35.    , 135.6333],
       [ 33.    ,  53.1   ],
       [ 31.    , 113.275 ],
       [ 16.    ,   8.05  ],
       [ 25.    ,   7.925 ],
       [ 47.    ,   7.25  ],
       [ 32.    ,  15.5   ],
       [ 44.    ,   7.925 ],
       [ 25.    ,   7.05  ],
       [  4.    ,  16.7   ],
       [ 27.    ,  10.5   ],
       [ 40.    ,  31.    ],
       [ 36.    , 120.    ],
       [ 10.    ,  27.9   ],
       [  5.    ,  31.3875],
       [ 28.    ,   7.8958],
       [ 17.    ,  10.5   ],
       [ 18.    ,   8.3   ],
       [ 21.    ,  34.375 ],
       [ 18.    ,  17.8   ],
       [ 38.    ,   8.6625],
       [ 35.    ,  83.475 ],
       [ 42.    ,   7.65  ],
       [ 15.    ,   7.2292],
       [ 28.    ,  13.5   ],
       [ 39.    ,  13.    ],
       [ 54.    ,  51.8625],
       [ 24.    , 263.    ],
       [ 22.    ,  49.5   ],
       [ 27.    ,  13.8583],
       [ 25.    ,   7.225 ],
       [ 29.    ,  10.4625],
       [ 36.5   ,  26.    ],
       [ 64.    , 263.    ],
       [ 36.    ,   7.8958],
       [  2.    ,  26.    ],
       [ 16.    ,   7.775 ],
       [ 45.    ,  35.5   ],
       [ 18.    ,   7.4958],
       [ 45.    ,  27.9   ],
       [ 23.    ,  10.5   ],
       [ 47.    ,  52.    ],
       [  1.    ,  11.1333],
       [ 20.    ,   8.6625],
       [ 27.    ,   8.6625],
       [ 24.    ,  16.7   ],
       [  0.83  ,  29.    ],
       [ 36.    ,  26.3875],
       [ 57.    ,  10.5   ],
       [ 19.    ,   7.8958],
       [ 21.    ,   7.25  ],
       [ 39.    ,  13.    ],
       [ 40.5   ,  14.5   ],
       [ 28.    ,   7.8958],
       [ 21.    ,  11.5   ],
       [ 49.    , 110.8833],
       [ 74.    ,   7.775 ],
       [ 22.    ,  29.    ],
       [ 22.    ,   7.25  ],
       [ 28.    ,   7.8542],
       [ 32.    ,  13.    ],
       [ 41.    ,  14.1083],
       [ 18.    ,   8.05  ],
       [ 25.    ,  55.4417],
       [ 40.    ,   9.475 ],
       [ 35.    ,  26.2875],
       [ 56.    ,  83.1583],
       [ 34.    ,  13.    ],
       [ 33.    ,   5.    ],
       [ 52.    ,  13.    ],
       [ 34.    ,  13.    ],
       [ 56.    ,  35.5   ],
       [ 25.    ,   7.25  ],
       [ 42.    ,  13.    ],
       [ 45.5   ,   7.225 ],
       [ 35.    ,  10.5   ],
       [  6.    ,  33.    ],
       [ 24.5   ,   8.05  ],
       [ 51.    ,   7.0542],
       [ 36.    ,  12.875 ],
       [ 37.    ,  52.5542],
       [  3.    ,  18.75  ],
       [ 61.    ,  32.3208],
       [ 28.    ,   9.5   ],
       [ 47.    ,  38.5   ],
       [  3.    ,  31.3875],
       [ 58.    , 113.275 ],
       [ 22.    ,  66.6   ],
       [ 65.    ,  61.9792],
       [ 33.    ,   7.8958],
       [ 28.    ,  24.    ],
       [ 22.    ,   7.25  ],
       [ 52.    ,  93.5   ],
       [ 35.    ,  90.    ],
       [ 16.    ,  34.375 ],
       [  4.    ,  22.025 ],
       [ 51.    ,   7.75  ],
       [ 33.    ,   8.6625],
       [ 52.    ,  78.2667],
       [ 54.    ,  59.4   ],
       [ 44.    ,  27.7208],
       [ 23.    ,  63.3583],
       [ 26.    ,  26.    ],
       [ 63.    ,  77.9583],
       [ 24.    ,   7.1417],
       [ 28.    ,  10.5   ],
       [ 38.    , 153.4625],
       [ 45.    ,   6.975 ],
       [ 44.    ,  26.    ],
       [ 21.    ,   7.75  ],
       [ 70.    ,  71.    ],
       [ 10.    ,  24.15  ],
       [ 51.    ,  12.525 ],
       [ 57.    ,  12.35  ],
       [ 24.    ,   8.85  ],
       [ 41.    , 134.5   ],
       [ 38.    ,  31.3875],
       [ 36.    ,  13.    ],
       [  9.    ,  31.3875],
       [ 17.    ,  12.    ],
       [ 70.    ,  10.5   ],
       [ 36.    ,  13.    ],
       [ 16.    ,   9.5   ],
       [ 43.    ,   8.05  ],
       [ 50.    ,  28.7125],
       [ 45.5   ,  28.5   ],
       [ 16.    ,  39.4   ],
       [ 26.    ,  10.5   ],
       [  7.    ,  39.6875],
       [ 30.    ,   7.225 ]])

In [62]:
X_valid = np.concatenate([np.ones(X_valid.shape[0]).reshape(-1,1),X_valid],axis = 1)

In [69]:
sigmoid(X_valid.dot(theta))

array([[0.39765538],
       [0.31402844],
       [0.3122983 ],
       [0.34260237],
       [0.73850225],
       [0.28872495],
       [0.32641606],
       [0.33720629],
       [0.33009398],
       [0.30838503],
       [0.32023551],
       [0.30692073],
       [0.33512051],
       [0.35251278],
       [0.54483121],
       [0.31893781],
       [0.32524377],
       [0.50236303],
       [0.3736268 ],
       [0.34351031],
       [0.37600454],
       [0.33421364],
       [0.38778139],
       [0.42469773],
       [0.34730075],
       [0.34942132],
       [0.32705291],
       [0.42239967],
       [0.37343239],
       [0.33436805],
       [0.3349422 ],
       [0.29673167],
       [0.84803292],
       [0.33023902],
       [0.45415257],
       [0.50236051],
       [0.30712987],
       [0.33116012],
       [0.3132661 ],
       [0.37283162],
       [0.30967339],
       [0.29729251],
       [0.34594919],
       [0.61606249],
       [0.32151937],
       [0.33667858],
       [0.50990141],
       [0.44943302],
       [0.5092688 ],
       [0.45760636],
       [0.32891648],
       [0.46170881],
       [0.39007795],
       [0.38029007],
       [0.42385942],
       [0.33664494],
       [0.38058201],
       [0.35421432],
       [0.33604783],
       [0.30920194],
       [0.78715884],
       [0.47575438],
       [0.32929007],
       [0.28552196],
       [0.36367875],
       [0.35221277],
       [0.31746838],
       [0.43212521],
       [0.23041035],
       [0.30738485],
       [0.334747  ],
       [0.37175491],
       [0.31598613],
       [0.45257382],
       [0.35362389],
       [0.31954893],
       [0.440037  ],
       [0.28235324],
       [0.33703954],
       [0.34351031],
       [0.31372129],
       [0.34231775],
       [0.65833058],
       [0.55252006],
       [0.34594919],
       [0.78885392],
       [0.48546601],
       [0.72717029],
       [0.34346147],
       [0.32271016],
       [0.27368609],
       [0.33532374],
       [0.2820859 ],
       [0.31948275],
       [0.40617933],
       [0.32781827],
       [0.37680838],
       [0.73949892],
       [0.43753827],
       [0.46470513],
       [0.31598613],
       [0.35055534],
       [0.33984827],
       [0.43703156],
       [0.37678218],
       [0.29717693],
       [0.60718713],
       [0.28526418],
       [0.34261838],
       [0.33682936],
       [0.31055342],
       [0.42747057],
       [0.97300439],
       [0.4981381 ],
       [0.34045969],
       [0.32012686],
       [0.32322331],
       [0.36535333],
       [0.96002991],
       [0.29870836],
       [0.4496386 ],
       [0.34241299],
       [0.38279262],
       [0.33680216],
       [0.35290255],
       [0.3368237 ],
       [0.44551151],
       [0.39089992],
       [0.33667858],
       [0.32100432],
       [0.35830622],
       [0.46518183],
       [0.36805419],
       [0.26454456],
       [0.33604783],
       [0.32911782],
       [0.31055342],
       [0.31273289],
       [0.31598613],
       [0.34518618],
       [0.68074516],
       [0.2242468 ],
       [0.41233739],
       [0.32688126],
       [0.31583401],
       [0.32596235],
       [0.31022348],
       [0.3388999 ],
       [0.51565634],
       [0.29581144],
       [0.37002293],
       [0.55405231],
       [0.32151937],
       [0.29483572],
       [0.28303739],
       [0.32151937],
       [0.35678883],
       [0.32021894],
       [0.30407355],
       [0.27663741],
       [0.31018692],
       [0.46897044],
       [0.32428334],
       [0.26504657],
       [0.31665063],
       [0.47303232],
       [0.41703688],
       [0.33317567],
       [0.32188194],
       [0.39001594],
       [0.46975681],
       [0.6695926 ],
       [0.57000885],
       [0.44210589],
       [0.30512403],
       [0.37758905],
       [0.32688126],
       [0.60650125],
       [0.63318565],
       [0.44955149],
       [0.42808154],
       [0.26734626],
       [0.30788147],
       [0.54360864],
       [0.458932  ],
       [0.35452903],
       [0.55401096],
       [0.3903932 ],
       [0.51450677],
       [0.32203154],
       [0.32558625],
       [0.83051237],
       [0.27680623],
       [0.34789469],
       [0.3309885 ],
       [0.4673661 ],
       [0.42199   ],
       [0.28346575],
       [0.27067948],
       [0.32837442],
       [0.77521101],
       [0.38313409],
       [0.31710846],
       [0.45462449],
       [0.35635525],
       [0.23968785],
       [0.31710846],
       [0.34901489],
       [0.28457575],
       [0.34450265],
       [0.35406317],
       [0.47066893],
       [0.33005809],
       [0.49468236],
       [0.30918676]])